html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #6091C3;
}

h1 {
  font-family:'Arial';
  text-align: center;
  font-weight: 800;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer, .flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer li label {
  font-size: 1rem;
  font-weight: 400;
}

